<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <connection>Data Source=192.168.10.42\CAPPS;Initial Catalog=ITDEV_DoorPrize;Persist Security Info=True;User ID=sp_admin;Password=P5wdCAPPS</connection>
  <modelCon>metadata=res://*/Layouts.CycleBilling.InvLimitEDM.csdl|res://*/Layouts.CycleBilling.InvLimitEDM.ssdl|res://*/Layouts.CycleBilling.InvLimitEDM.msl;provider=System.Data.SqlClient;provider connection string="data source=(local);initial catalog=MyDb;persist security info=True;user id=sa;password=Password95;MultipleActiveResultSets=True;App=EntityFramework"</modelCon>
  <site></site>
  <web></web>
  <locfolder></locfolder>
  <maxrevisi>10</maxrevisi>
  <userID>user</userID>
  <logSource>CycleBillingLog</logSource>
  <commitBatchSize>1000</commitBatchSize>
  <commandTimeOut>120</commandTimeOut>
  <division>HSE &amp; GA</division>
</settings> 
